<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hstc.task_clocking.dao.teacher.Teacher_CheckinMapper">
    <select id="QueryCheckinList" parameterType="Checkin">
        SELECT * FROM Checkins
    </select>

    <delete id="CallbackCheckin" parameterType="Checkin">
        delete from checkins where checkinID = #{checkinId}
    </delete>
</mapper>